<div class="container">
  <div class="container d-flex">

  <div class="container d-flex flex-column m-3">
  <h3>RICERCA PER STATO</h3>
  <button class="btn btn-primary m-3 h-25 w-25 ms-5" (click)="getByStatoPagata()">PAGATA</button>
  <button class="btn btn-primary m-3 h-25 w-25 ms-5" (click)="getByStatoNonPagata()">NON PAGATA</button>
  </div>
  <div class="register container-fluid d-flex flex-column justify-content-center align-items-center m-3" >
    <h3>RICERCA PER RANGE IMPORTO</h3>
    <form class="form w-25 m-3" #form = "ngForm" (ngSubmit)="onSubmit(form)">
      <mdb-form-control>
        <input mdbInput type="number" id="form1" class="form-control mt-2" username required ngModel name="min" />
        <label mdbLabel class="form-label" for="form1">DA</label>
      </mdb-form-control>
      <mdb-form-control>
        <input mdbInput type="number" id="form1" class="form-control mt-2" password required ngModel name="max" />
        <label mdbLabel class="form-label" for="form1">A</label>
      </mdb-form-control>
      <button class="btn btn-primary mt-2 w-100" type="submit">Ricerca</button>
    </form>
  </div>

  <div class="register container d-flex flex-column align-items-center m-3" >
    <h3>RICERCA PER ANNO</h3>
    <form class="form w-25" #form2 = "ngForm" (ngSubmit)="onSubmit2(form2)">
      <mdb-form-control>
        <input mdbInput type="number" id="form1" class="form-control mt-2" username required ngModel name="anno" />
        <label mdbLabel class="form-label" for="form1">Anno</label>
      </mdb-form-control>
      <button class="btn btn-primary mt-2 w-100" type="submit">Ricerca</button>
    </form>
  </div>

</div>

  <div class="dashboard container border rounded-5 mt-3 text-center">
    <table class="table align-middle mb-0 bg-white mt-3">
      <thead class="bg-light">
        <tr>
          <th>Numero Fattura</th>
          <th>Anno</th>
          <th>Importo</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of fatture">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{item.numero}}</p>

              </div>
            </div>
          </td>
          <td>
            <p class="text-muted mb-0">{{item.anno}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{item.importo}}</p>

          </td>
          <td>
            <p class="text-muted mb-0">{{item.data}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
